@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins',sans-serif;
    overflow:hidden; 
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80");
    background-size: cover;
    background-repeat: no-repeat;
}

.button{
    background-color:rgba(24,24,7,0.6);
    color:#eee ;
    border-radius: 16px;
    cursor: pointer;
    padding: 20px 25px;
    font-size: 13px;
    margin-top: 10px;
    font-weight: 400;
    border-color: #eee;
    width: 100vh;
    max-width: 210px;
}

.button:hover{
    background-color: lightcyan;
    color: black;
    font-weight: 600;
    border-color: #3c3c44;
    border-width: 1px solid;
}

.container{
    padding: 1px 70px;
    color:#fff;
    margin: auto;
}

.current_info{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.time{
font-size: 70px;
font-weight: 100;
}

#am_pm{
    font-size: 30px;
    font-weight:200;
    margin-left: 20px; 
}

.date{
    font-size: 30px;
    font-weight: 400;
}

.place_container{
    text-align:end;
}

.city_country{
    text-align: end;
    margin-top: 5px;
}

.city{
    font-size: 30px;
    font-weight: 200;
}

.country{
    font-size: 15px;
    font-weight: 700;
}

/* .greeting{
    font-size: 40px;
    font-weight: 400;
}

.focus{
font-size: 25px;
font-weight: 400;
}

.focus_ans{
    font-size: 20px;
    font-weight: 300px;
} */

.other{
    display: flex;
    flex-direction: column;
    background: rgba(24,24,7,0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid #eee;
}

.weather_item{
    display: flex;
    justify-content: space-between;
}

.future_forecast{
    background:rgba(24, 24, 27,0.8);
    padding: 5px;
    position:fixed;
    bottom: 0 ;
    display: flex;
    color: white;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    margin: auto;
}

.weather_forecast{
    display: flex;
}

.content{
    display: flex;
    flex-direction: column;
   
}

.today{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    padding-top:20px;
    padding-bottom:20px;
    padding-right: 40px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}

/* #w_icon{
    height: 150px;
    width: 150px;
} */

.today .day{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.today .temp{
    font-size: 18px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

.weather_forecast_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2);
}

.weather_forecast .weather_forecast_item .day{
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.weather_forecast .weather_forecast_item .temp{
    font-weight: 100;
    font-size: 12px;
}


@media only screen and (max-width:750px) {
    .future_forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll;

    }

    .container{
        padding: 20px;
    }

    .today{
        margin-left: 10px;
    }

    .today .temp{
        font-size: 15px;
    }

    .time{
        font-size: 50px;
    }

    #am_pm{
        font-size: 20px;
    }

    .date{
        font-size: 15px;
    }

    .place_container{
        text-align: end;
        margin-top: 12px;
    }

    .other{
        padding: 10px;
    }

    .other .weather_item{
        font-size: 12px;
    }

    .city{
        font-size: 20px;
       text-align: left;
    }

    .country{
        font-size: 12px;
        text-align: left;
    }
 
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait){

    .future_forecast{
        justify-content: start;
        align-items: none;
        overflow-y: scroll; 
    }

    .button{
        padding:30px;
        font-size: 20px;
    }

    .container{
        padding: 50px;
    }

    .today{
        margin-left: 30px;
    }

    .today .temp{
        font-size: 20px;
    }

    .time{
        font-size: 70px;
    }

    #am_pm{
        font-size: 20px;
    }

    .date{
        font-size: 40px;
    }

    .place_container{
        text-align: end;
        margin-top: 15px;
    }

    .other{
        padding: 12px;
    }

    .other .weather_item{
        font-size: 20px;
    }

    .city{
        font-size: 40px;
    }
 
}

@media only screen and (max-width:1400px){
    .future-forecast{
        justify-content:start;
        align-items: none;
        overflow: scroll;
        direction:ltr;
    }

    .today{
        margin-left: 30px;
    }
}





